.body{
    margin-left: 300px;
    background-color: #fff;
}

.container {
    margin-top: 70px;
    border-bottom: 1px solid #464340;
    padding: 0;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.card-header {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;

}

.card {
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin-bottom: 20px;
    margin-left: 45px ;
    padding: 20px;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;

}

.card:hover {
    transform: translateY(-10px);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 0;
}

.card1 {
    background: linear-gradient(to bottom right, #78e08f, #63cdda);
}

.card2 {
    background: linear-gradient(to bottom right, #ff9ff3, #f6e58d);
}

.card3 {
    background: linear-gradient(to bottom right, #f6d365, #fda085);
}

.card4 {
    background: linear-gradient(to bottom right, #48c6ef, #6f86d6);
}

.circle1 {
    background-color: #78e08f;
}

.circle2 {
    background-color: #ff9ff3;
}

.circle3 {
    background-color: #f6d365;
}

.circle4 {
    background-color: #48c6ef;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.container2 {

    margin-top: 40px;
    display: flex;
    flex-direction: row; /* this will split the divs horizontally */
}

.div1 {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 400px;
    width: 550px;
    margin-left: 45px;
}



.div2{
    margin-left: 70px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 400px;
    width: 600px;

}




