.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    background-image: url("../../assets/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.forgot-password-box {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.forgot-password-box h2 {
    margin-bottom: 20px;
    color: #f44336;
}

.forgot-password-box p {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
}

.btn {
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #f44336;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff6347;
}

.btn-primary {
    background-color: #f44336;
}

.btn-primary:hover {
    background-color: #ff6347;
}

.forgot-password-text {
    margin-top: 20px;
}

.forgot-password-text a {
    color: #f44336;
    text-decoration: none;
}

.forgot-password-text a:hover {
    text-decoration: underline;
}
